.nav a{
    margin: 0;
    padding: 20px;
    text-decoration: none;
    color: rgb(143, 88, 194);
}

@media (max-width: 768px) {
  .nav a {
    margin: 10px 0;
  }
}

.nav a:hover{
    color: red;
}
.nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 169, 241);
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: stretch;
  }
  .nav ul {
    flex-direction: column;
  }
}

.nav ul{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}
.nav a.active{
    color: rgb(236, 30, 185);
}

body{
    background-color: bisque;
    margin: 0;
}
.p{
    font-size: 20px;
}

.bibbles img{
  height: 80px;
}


.bibble{
  position: absolute;
  transition: transform 1s ease;
}

#bibbles {
  position: relative;
  width: auto;
  height: 80vh;
  overflow: hidden;
}

.collections ul{
    display: flex;
    list-style: none;
}
.collections img{
    height: 120px;
    padding: 10px;
}

.gameList a{
    text-decoration: none;
    font-size: 20;
}

.gameList a:hover{
    color: rgb(255, 121, 226);
}

