.nav a{
    margin: 20px;
    text-decoration: none;
    color: rgb(143, 88, 194);
}
.nav a:hover{
    color: red;
}
.nav{
    display: flex;
    flex-direction: row;
}
.nav ul{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}
.nav a.active{
    color: rgb(236, 30, 185);
}

body{
    background-color: bisque;
}
.p{
    font-size: 20px;
}
#bible{
    height: 80px;
    display: block;
}
.bible img{
  position: absolute;
  height: 80px;
  transition: top 0.5s ease, left 0.5s ease;
  top: 120px;
  left: 200px;
}


.collections ul{
    display: flex;
    list-style: none;
}
.collections img{
    height: 120px;
    padding: 10px;
}