.nav a{
    margin: 20px;
    text-decoration: none;
    color: rgb(143, 88, 194);
}
.nav a:hover{
    color: red;
}
.nav{
    display: flex;
    flex-direction: row;
}
.nav ul{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}
.nav a.active{
    color: rgb(236, 30, 185);
}

body{
    background-color: bisque;
}
.p{
    font-size: 20px;
}

.bibbles img{
  height: 80px;
}


.bibble{
  position: absolute;
  transition: transform 1s ease;
}

#bibbles {
  position: relative;
  width: auto;
  height: 80vh;
  overflow: hidden;
}

.collections ul{
    display: flex;
    list-style: none;
}
.collections img{
    height: 120px;
    padding: 10px;
}

.gameList a{
    text-decoration: none;
    font-size: 20;
}