.nav a{
    margin: 0;
    padding: 20px;
    text-decoration: none;
    color: rgb(143, 88, 194);
}

@media (max-width: 768px) {
  .nav a {
    margin: 10px 0;
  }
}

.nav a:hover{
    color: red;
}

.nav-links{
    display: none;
}

.nav.open{
    background-color: rgb(247, 169, 241);
}

.nav-toggle{
    background: none;
    border: none;
    font-size: 30px;
}

.nav-links.open {
  display: flex;
  flex-direction: row;
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.nav-toggle.open{
    display: none;
}

.nav-toggle-open{
    display: none;
}

.nav-toggle-open.open{
    display: block;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 30px;
    padding: 15px;
  }
  .nav-links {
    display: none;
  }

  .nav-links.open {
    display: flex;
    flex-direction: column;
  }
}

.nav a.active{
    color: rgb(236, 30, 185);
}

body{
    background-color: bisque;
    margin: 0;
}
.p{
    font-size: 20px;
}

.bibbles img{
  height: 80px;
}


.bibble{
  position: absolute;
  transition: transform 1s ease;
}

#bibbles {
  position: relative;
  width: auto;
  height: 80vh;
  overflow: hidden;
}

.collections ul{
    display: flex;
    list-style: none;
}
.collections img{
    height: 120px;
    padding: 10px;
}

.gameList a{
    text-decoration: none;
    font-size: 20;
}

.gameList a:hover{
    color: rgb(255, 121, 226);
}

.board button{
    border: none;
    color: rgb(43, 112, 196);
    background-color: rgba(243, 32, 32, 0.625);
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.board button:hover{
    cursor: pointer;
}